.bodyfixed{
	margin-top:10%;
}
.signcontainer{
	max-width:330px;
	background-color:rgba(255,255,255,.50);
	border-radius:25px;
	box-shadow:0 1px 2px rgba(0,0,0,.25);
	margin:0px auto 0px auto;
	padding:0px auto 0px auto;
}
.form-signup{
	max-width:330px;
	padding:25px;
	margin:0 auto;
}
.form-signup input{
	margin:10px 0;
	height:40px;
}
.margintopfixed{
	margin-top:30px;
	min-height:500px;
}
.abouttitlefixed{
	margin-top:0;
}
.memberfeed{
	border-top:3px solid #0D8FDB;
	background-color:#ffffff;
	box-shadow:0 2px 3px rgba(0,0,0,.25);
	padding:20px;
}
.mpartimg{
	float:left;
	margin:20px 10px 0 10px;
}
.mparttitle{
	float:left;
	margin:0 10px 0 10px;
}
.mpartbio{
	float:left;
}
.featurette-heading-fixed{
	margin-top:0;
	font-size: 50px;
}
.list-margin-fixed{
	margin:0 3px;
}
.list-margin-top-fixed{
	margin:12px 5px;
}
.backfill{
	width:100%;
	height:12%;
	padding:10px;
	background-color:#eeeeee;

}
footer{
	margin-top:20px;
	width:100%;
	height:20%;
	background-color:#eeeeee;
	padding-top:20px;
}
body{
	padding-bottom:0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover{
	background-color:#fc4000;
}
