{% extends "admin_base.html" %}
{% block customCssLink %}
<link rel="stylesheet" type="text/css" href="{{ static_url("simditor/styles/simditor.css") }}" />
{% end %}
{% block active2 %}class="active"{% end %}
{% block maincontent %}
<h2 class="sub-header">Push New Page</h2>
<form role="form" method="POST" action="/admin/editpage" enctype="multipart/form-data">
  <input type="hidden" class="form-control" id="exampleInputEmail1" name="aid" value="{{ article.aid }}">

  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Enter title" name="atitle" value="{{ article.atitle }}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <textarea rows="16" class="form-control" id="editor" placeholder="Enter content" name="acontent">{{ article.acontent }}</textarea>
  </div>
  <div class="form-group">
  <select class="form-control" name="acategory">
  {% for item in categoryList %}
  <option {% if article.acid == item.cid %}selected="selected"{% end %}>{{ item.cname }}</option>
  {% end %}
</select>
</div>
<div class="form-group">
  <div class="radio">
  <label>
      <input type="radio" name="abc" id="optionsRadios1" value="0" {% if article.abc == 0 %}checked{% end %} >
      中文
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="abc" id="optionsRadios2" value="1" {% if article.abc == 1 %}checked{% end %}>英文    </label>
  </div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-default">Reset</button>
</form>
{% end %}
{% block addJS %}
<script type="text/javascript" src="{{static_url("simditor/scripts/module.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/hotkeys.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/uploader.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/simditor.js")}}"></script>
<script>
$(function(){
    toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
            'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
            'link', 'image', 'hr', '|', 'indent', 'outdent' ];
    var editor = new Simditor( {
        textarea : $('#editor'),
        placeholder : '这里输入内容...',
        toolbar : toolbar,  //工具栏
        defaultImage : '/static/simditor/images/image.png', //编辑器插入图片时使用的默认图片
        upload : {
            url : '/upload', //文件上传的接口地址
            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
            fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
            connectionCount: 3,
            leaveConfirm: '正在上传文件'
        }
    });
   })

</script>
{% end %}
