{% extends "admin_base.html" %}
{% block active3 %}class="active"{% end %}
{% block maincontent %}
<h2 class="sub-header" id="nav-article">All Category</h2>
<div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% for type in typelist %}
              <tr>
                <td>{{ type.tid }}</td>
                <td>{{ type.typename }}</td>
                <td><div><span><a href="/admin?tid={{ type.tid }}">Edit</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/admin/deltype?tid={{ type.tid }}">Delete</a></span></div></td>
              </tr>
              {% end %}
            </tbody>
          </table>
          <form class="form-inline" method="POST" action="/admin">
        <div class="form-group">
          <input type="hidden" name="tid" value="{{ typeobj.tid }}">
        <label class="sr-only" for="exampleInputEmail3">Add New Type</label>
        <input type="input" class="form-control" id="exampleInputEmail3" placeholder="Enter New Type" name="typename" value= {{ typeobj.typename }}>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
{% end %}
