<!Doctype>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ _(handler.title) }}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link href="/static/css/carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  {% block customCSS %}{% end %}
  {% block customJS1 %}{% end %}
  <link rel="icon" href="/static/favicon.ico">
</head>
<body>
<header>
  <img src="/static/images/header.png" style="width:100%;position:absolute;z-index:1;height:100%;">

   <nav class="navbar navbar-default"  style="position:absolute;z-index:20;width:100%;top:100%;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation" {% block active1 %}{% end %}><a href="/">{{ _('Home') }}</a></li>
            {% for category in handler.categoryList %}

            <li role="presentation" {% if request.path == '/c/'+str(category.cid) %}class="active"{% end %}"><a href="/c/{{ category.cid }}">{{ _(category.cname) }}</a></li>

            {% end %}
            <li role="presentation" {% block active2 %}{% end %}><a href="/aboutus">{{ _('About Us') }}</a></li>
            <li role="presentation"><a href="/changelang">{{ handler.lang }}</a></li>
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</header>
      {% block maincontent %}{% end %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>中国社会科学院金融研究所</p>
        <address>
          <strong>地址:北京市朝阳区曙光西里28号中冶大厦1129室</strong><br/>
          <abbr title="Phone"><strong>电话:</strong></abbr> 010-59868219
          <strong>联系邮箱:</strong>
          <a href="mailto:gsjrifb@163.com">gsjrifb@163.com</a>
        </address>
<p><a href="/admin">Dashboard</a></p></div>
</div>
</div>
</footer>
<script src="/static/js/jquery-2.1.0.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
{% block customJS2 %}{% end %}
</body>
</html>
