{% extends "home_base.html" %}
{% block active1 %}class="active"{% end %}
{% block maincontent %}
    <!--<img src="../static/images/banner.png" style="width:100%;">-->
    <div class="backfill">
      <div class="container">
        <h3 style="color:#515151;">{{ article.atitle }}</h3>
      </div></div>
<!--container-->
<div class="container margintopfixed">
  <div class="row">
    <div class="col-md-12">

  <p><span>创建时间: {{ article.acreatetime.ctime()[0:16] }}</span>&nbsp;&nbsp;<span>修改时间: {{ article.amodifytime.ctime()[0:16] }}</span></p>
  <p>{{ article.acontent }}</p>


  </div>
</div>
</div>
{% end %}
