<!Doctype>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ _(handler.title) }}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link href="/static/css/carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  {% block customCSS %}{% end %}
  {% block customJS1 %}{% end %}
  <link rel="icon" href="/static/favicon.ico">
</head>
<body>
<header>
  <img src="/static/images/header.png" style="width:100%;position:absolute;z-index:1;max-height:289px;">
    <div class="container" style="position:absolute;z-index:20;right:13%;top:33%;">
      <nav style="margin-top:80px;" class="pull-right">

               <ul class="nav nav-pills">
                 <li role="presentation" {% block active1 %}{% end %}><a href="/">{{ _('Home') }}</a></li>
                 {% for category in handler.categoryList %}
                 <li role="presentation" {% if request.path == '/c/'+str(category.cid) %}class="active"{% end %}"><a href="/c/{{ category.cid }}">{{ _(category.cname) }}</a></li>
                 {% end %}
                 <li role="presentation" {% block active2 %}{% end %}><a href="/aboutus">{{ _('About Us') }}</a></li>
                 <li role="presentation"><a href="/changelang">{{ handler.lang }}</a></li>
                </ul>

        </nav>
   </div>

</header>
<div style="margin:30px;"></div>
      {% block maincontent %}{% end %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p>中国社会科学院金融研究所</p>
<p><a href="/admin">Dashboard</a></p></div>

<div class="col-md-3">
  <address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>

</div>
<div class="col-md-3">

    <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#">first.last@example.com</a>
    </address>
  </div>
  <div class="col-md-3">

      <span>访问量:{{ handler.count }}</span>
    </div>
</div>
</div>
</footer>
<script src="/static/js/jquery-2.1.0.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
{% block customJS2 %}{% end %}
</body>
</html>
