{% extends "home_base.html" %}
{% block customCSS %}

{% end %}
{% block active1 %}class="active"{% end %}
{% block maincontent %}
    <!--<img src="../static/images/banner.png" style="width:100%;">-->

<!--container-->
<div class="container margintopfixed">
  <div class="row">
    <div class="col-md-12">

</div>
  <div class="firstrow">
  <div class="row">
    <div class="col-md-4"><!--第一栏第一个-->
      <div class="mylabel">
        <p class="more"><a href="/c/{{ handler.categoryList[0].cid }}">more >></a></p>
        <div class="mytab">
          <p class="tabstring">{{ _(handler.categoryList[0].cname) }}</p>
        </div>
      </div>
      <div class="list1">

        <ul class="list-unstyled">
          {% for item in handler.categoryList[0].cateofa[:6] %}
          <li><a href="/c/{{ handler.categoryList[0].cid }}/a/{{ item.aid }}" class="mylist">{{ item.atitle }}</a><span class="pul-right">{{ item.acreatetime.year }}-{{ item.acreatetime.month }}-{{ item.acreatetime.day }}</span></li>
          {% end %}

        </ul>

      </div>
    </div><!--第一栏第一个结束-->

    <div class="col-md-4"><!--第一栏第二个-->
      <div class="mylabel">
        <p class="more"><a href="#">more >></a></p>
        <div class="mytab">
          <p class="tabstring">{{ _('Science') }}</p>
        </div>
      </div>
      <div class="list1">

        <ul class="list-unstyled">
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
        </ul>

      </div>
    </div><!--第一栏第二个结束-->
    <div class="col-md-4"><!--第一栏第二个-->
      <div class="mylabel">
        <p class="more"><a href="#">more >></a></p>
        <div class="mytab">
          <p class="tabstring">{{ _('Publish') }}</p>
        </div>
      </div>
      <div class="list1">

        <ul class="list-unstyled">
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
          <li><a href="#" class="mylist">李克强总理来访吉大</a></li>
        </ul>

      </div>
    </div><!--第一栏第二个结束-->
  </div>
  </div>
  </div>
</div>
</div>
{% end %}
